__pycache__/
*.py[cod]
*$py.class


*.so


.Python
build/
develop-eggs/
dist/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg


venv/
ENV/
env/
.venv/
env.bak/


*.log


htmlcov/
.tox/
.nox/
.coverage
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover


.ipynb_checkpoints


.DS_Store


*.swp
*~


.idea/
.vscode/
*.sublime-workspace
